:root {
  --sl-font: "Nunito", sans-serif;
  --brand-color: #16a34a;
  --sl-color-text-accent: var(--brand-color);
}

.site-title {
  gap: 0.7rem;
  font-size: var(--sl-text-h3);
  font-weight: 700;
  color: var(--sl-color-white);
}

@media (min-width: 50rem) {
  .hero {
    grid-template-columns: 7fr 4fr;
  }
  .hero > img,
  .hero > .hero-html {
    order: 2;
    width: min(70%, 25rem);
  }
}

.meta {
  justify-content: flex-end;
}
