:root {
  --sl-font: "Nunito", sans-serif;
  --brand-color: #16a34a;
  --sl-color-text-accent: var(--brand-color);
}

.site-title {
  gap: 0.7rem;
  font-size: var(--sl-text-h3);
  font-weight: 700;
  color: var(--sl-color-white);
}

.card:nth-child(4n + 1) {
  --sl-card-border: var(--sl-color-blue);
  --sl-card-bg: var(--sl-color-blue-low);
}
.card:nth-child(4n + 2) {
  --sl-card-border: var(--sl-color-green);
  --sl-card-bg: var(--sl-color-green-low);
}
.card:nth-child(4n + 3) {
  --sl-card-border: var(--sl-color-purple);
  --sl-card-bg: var(--sl-color-purple-low);
}

.meta {
  justify-content: flex-end;
}

@media (min-width: 50rem) {
  .hero {
    grid-template-columns: 7fr 4fr;
  }
  .hero > img,
  .hero > .hero-html {
    order: 2;
    width: min(100%, 25rem);
  }

  .card-grid {
    grid-template-columns: 1fr;
  }
}
