---
import type { Props } from '@astrojs/starlight/props';
import { Badge } from '@astrojs/starlight/components';

const { lang, lastUpdated } = Astro.props;
---

{
	lastUpdated && (
		<div class="flex items-center gap-2 mt-4">
			<Badge 
				text={`Updated: ${lastUpdated.toLocaleDateString(lang, { dateStyle: 'medium', timeZone: 'UTC' })}`} 
				size="medium" 
				style={{ fontStyle: 'italic' }}
			/>
		</div>
	)
}
